cleanup = false

process {

  containerOptions = {
    workflow.containerEngine == "singularity" ? '--nv': ( workflow.containerEngine == "docker" ? ' --runtime=nvidia --gpus "device=${CUDA_VISIBLE_DEVICES:-0}"' : null )
  }


  withLabel: with_gpu {
    maxForks = 1
    clusterOptions = {
      process.executor == "sge" ? '-l gpu=1': ( process.executor == "slurm" ? "--gres gpu:1": null )
    }
  }
}

params {
  in = ""
  in_file_list = ""
  out_dir = "results/"
  do_speaker_id = true
  do_punctuation = true
  do_language_id = true
	nthreads = 2
	spk_id_min_prosterior = 0.5
  acoustic_model = "cnn_tdnn_1d_online"
}

process.executor = 'local'
params.rootdir = "$projectDir"
docker.enabled = false

env.KALDI_ROOT = "$projectDir/kaldi"
env.FAIRSEQ_ROOT = "$projectDir/fairseq"
env.ET_G2P_ROOT = "$projectDir/et-g2p"


profiles {
    standard {
        env.LD_LIBRARY_PATH = "/usr/local/nvidia/lib:/usr/local/nvidia/lib64"
    }

    docker {
        docker.enabled = true
        process.container = 'europe-north1-docker.pkg.dev/speech2text-218910/repo/est-asr-pipeline:1.1b'
        params.rootdir = "/opt/est-asr-pipeline"
        env.KALDI_ROOT = "/opt/kaldi"
        env.FAIRSEQ_ROOT = "/opt/fairseq"
        env.ET_G2P_ROOT = "/opt/et-g2p"
        env.PATH = "/root/miniconda3/bin:${env('PATH')}"
        env.LD_LIBRARY_PATH = "/usr/local/nvidia/lib:/usr/local/nvidia/lib64"
    }

    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
        singularity.envWhitelist = "CUDA_VISIBLE_DEVICES"
        process.container = '.singularity/est-asr-pipeline-0.2c.img'
        params.rootdir = "/opt/est-asr-pipeline"
        env.KALDI_ROOT = "/opt/kaldi"
        env.FAIRSEQ_ROOT = "/opt/fairseq"
        env.ET_G2P_ROOT = "/opt/et-g2p"
        env.PATH = "/opt/miniconda3/bin:${env('PATH')}:/bin"
    }

    sge {
        process.executor = 'sge'
        process.memory = '10GB'
        process.penv = 'smp'
    }

    slurm {
        process.executor = 'slurm'
        process.memory = '10GB'

    }

}
