process.container = 'alumae/est-asr-pipeline:0.1.4'

params {
	acoustic_model = "cnn_tdnn_1d_online"
	out_dir = ""
	do_speaker_id = true
	do_punctuation = true
	do_language_id = true
	nthreads = 2
	lm_scale = 10
	sid_similarity_threshold = 13
	process_memory = "5GB"
}

process.executor = 'local'
params.rootdir = "/opt/est-asr-pipeline"
env.KALDI_ROOT = "/opt/kaldi"
docker.enabled = true    

profiles {

    standard {
    }

    cluster {
        process.executor = 'sge'
        process.memory = '10GB'
        process.penv = 'smp'
    }

    nodocker {
        params.rootdir = "/opt/est-asr-pipeline"
        params.rootdir = "$projectDir"
        docker.enabled = false            
        
    }

    docker {
        params.rootdir = "/opt/est-asr-pipeline"
        docker.enabled = true
	docker.runOptions = "-v /opt/est-asr-pipeline/models:/opt/est-asr-pipeline/models -v /opt/est-asr-pipeline/bin:/opt/est-asr-pipeline/bin"
    }

    lowmem {
        process.maxForks = 1
        executor.queueSize = 1
        params.nthreads = 1
        params.process_memory = "3GB"
        docker.enabled = true
        docker.runOptions = "--memory=5g --memory-swap=5g --cpus=1"
    }

}
